
.home_header{
    background: linear-gradient(100.54deg, #035762 15.26%, #23b07d 68.91%, #3fd0c9 100.41%);
}

.img_div{
    height: 150px;
    width: 250px;
}

.card_img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.sustain_card{
    /* box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.claim_card{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
   
}

.claim_card{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}